@import 'base/_setup';
@import 'base/_variables';
@import 'base/_mixins';
@import 'modules/_vehicle-box';
@import 'modules/_btn';
@import 'modules/_site-header';
@import 'modules/_primary-nav';
@import 'modules/_mobile-nav';

body {
	font-family: 'Montserrat', sans-serif;
	background-color: $background;
	font-size: 0.75rem;
	min-height: 100vh;
}

.icon-m-left {
	margin-left: 10px;
	vertical-align: middle;
}

.ion-search {
	font-size: 1.3rem;
	padding: 10px;
}

.ion-navicon-round {
	font-size: 1rem;
	margin-right: 5px;
}