.primary-nav {
	display: none;

	@mixin atLarge {
		align-items: center;
		display: flex;
		list-style: none;
		text-transform: uppercase;
	}

	&__links {
		font-weight: 500;
		font-size: .7rem;
		padding: 10px;
		text-decoration: none;

		@mixin atSmall {
			font-size: .9rem;
		}
	}
}

